:root {
  --color-black: #151515;
  --color-dark-grey: #242424;
  --color-green: #4ee1a0;
  --color-grey: #d9d9d9;
  --color-white: #ffffff;
  --color-red: ##ff6f5b;
  --transition: 250ms ease-in-out;
}

html {
  box-sizing: border-box;
}

/* *,
*::after,
*::before {
  box-sizing: inherit;
} */

body {
  margin: 0px;
  padding: 0px;
  box-sizing: border-box;
  background-color: var(--color-black);
  color: var(--color-white);
  font-family: "Space Grotesk", sans-serif;
}

.visually-hidden {
  position: absolute;
  left: -10000px;
  top: auto;
  width: 1px;
  height: 1px;
  overflow: hidden;
}

a {
  color: inherit;
  text-decoration: none;
  cursor: pointer;
  transition: color var(--transition);
}

a:hover {
  color: var(--color-green);
}

a > svg path {
  transition: fill var(--transition);
}

a:hover > svg path {
  fill: var(--color-green);
}

button {
  margin: 0px;
  padding: 0px;
  border: none;
  text-shadow: none;
  background-color: transparent;
}

.container {
  width: calc(100% - 2rem);
  max-width: 1110px;
  margin: 0 auto;
}

header {
  padding-top: 39px;
  height: 42px;
  display: flex;
  justify-content: space-between;
}

.header__nav {
  width: 100%;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  text-align: center;
  gap: 20px 25px;
}

.header__logo {
  flex: 1 0 100%;
  font-weight: bold;
  font-size: 1.5rem;
  font-size: clamp(1.5rem, 1.02rem + 2.04vw, 2rem);
}

.header__social-link svg {
  display: block;
}

/* Tablet > 600 px */
@media (min-width: 37.5em) {
  /* INVESTIGATE HOW DOES IT WORK */
  .header__nav {
    justify-content: flex-start;
    text-align: left;
    gap: 0 32px;
  }

  .header__logo {
    flex: 1;
  }
}

.hero {
  margin: 0 auto;
  height: 100vh;
  max-width: 1110px;
  position: relative;
}

.hero__profile-image {
  height: 100%;
  position: absolute;
  top: 0px;
  right: 0px;
  z-index: -10;
}

.hero__content {
  height: calc(100vh - 32px);
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.hero__content h1 {
  width: 709px;
  margin: 0px;
  font-size: 88px;
  font-weight: 700;
  line-height: 88px;
  letter-spacing: -2.5px;
}

.hero__content h2 {
  margin: 43px 0px 0px 0px;
  width: 445px;
  color: var(--color-grey);
  font-size: 18px;
  font-weight: 500;
  line-height: 28px;
}

.hero__contact-button {
  width: 117px;
  margin-top: 66px;
  color: var(--color-white);
  font-size: 16px;
  font-weight: 700;
  line-height: 26px;
  letter-spacing: 2.286px;
  border-bottom: 1px solid var(--color-green);
}
