.projects {
  .projects__header {
    margin-top: 80px;
    display: flex;
    justify-content: space-between;
    align-items: center;

    button {
      height: 36px;
    }
  }

  .projects__wrapper {
    margin-top: 40px;
    margin-bottom: 80px;
    display: flex;
    flex-direction: column;
    gap: 40px;

    .projects__item {
      .projects__thumbnail {
        width: 100%;
        height: 253px;
      }

      .projects__title {
        margin-top: 20px;
        color: var(--color-white, #fff);
        font-feature-settings:
          'clig' off,
          'liga' off;
        font-size: 1.5rem;
        font-weight: 700;
        line-height: 2rem;
        text-transform: uppercase;
      }

      .projects__technologies {
        margin-top: 7px;
        display: flex;
        gap: 18px;

        .projects__tech-item {
          margin: 0;
          color: var(--Grey, #d9d9d9);
          font-feature-settings:
            'clig' off,
            'liga' off;
          font-size: 1.125rem;
          font-weight: 500;
          line-height: 1.75rem;
        }
      }

      .projects__buttons {
        margin-top: 20px;
        display: flex;
        gap: 32px;
      }
    }
  }
}

@media only screen and (min-width: 37.5em) {
  .projects {
    .projects__header {
      margin-top: 35px;
    }
    .projects__wrapper {
      margin-top: 60px;
      margin-bottom: 100px;
      flex-direction: row;
      flex-wrap: wrap;
      gap: 60px 20px;

      .projects__item {
        flex: 1 0 45%;
      }
    }
  }
}

@media only screen and (min-width: 63.5em) {
  .projects {
    .projects__header {
      margin-top: 85px;
    }
    .projects__wrapper {
      gap: 69px 24px;

      .projects__item {
        position: relative;

        .projects__thumbnail {
          height: 400px;
        }

        .projects__overlay {
          position: absolute;
          width: 100%;
          height: 400px;
          top: 0px;
          left: 0px;
          background-color: rgba($color: #000000, $alpha: 0.75);
          display: flex;
          justify-content: center;
          align-items: center;
          visibility: hidden;

          .projects__buttons {
            margin: 0;
            flex-direction: column;
            gap: 48px;
          }

          &:hover {
            visibility: visible;
          }
        }

        .projects__picture:hover ~ .projects__overlay {
          visibility: visible;
        }
      }
    }
  }
}
