.contact-form {
  padding-top: 60px;
  text-align: center;
  background-color: var(--color-dark-grey, #242424);

  .container {
    position: relative;
    border-bottom: 1px solid var(--color-white, #fff);

    .contact-form__wrapper {
      padding-bottom: 87px;

      .contact-form__description {
        margin-top: 20px;
        color: var(--color-grey, #d9d9d9);
        font-size: 1rem;
        font-weight: 500;
        line-height: 1.625rem;
      }

      .form {
        margin-top: 50px;
        text-align: right;
      }
    }

    .contact-form__rings {
      display: block;
      position: absolute;
      bottom: 96.96px;
      left: -385px;
    }
  }
}

@media only screen and (min-width: 37.5em) {
  .contact-form {
    .container {
      .contact-form__wrapper {
        padding-bottom: 92px;
        margin: 0 auto;
        max-width: 445px;

        .contact-form__description {
          font-size: 1.125rem;
          line-height: 1.75rem;
        }
      }

      .contact-form__rings {
        bottom: 27px;
        left: -400px;
      }
    }
  }
}

@media only screen and (min-width: 63.5em) {
  .contact-form {
    padding-top: 84px;

    .container {
      .contact-form__wrapper {
        max-width: 100%;
        text-align: left;
        display: flex;

        .contact-form__info {
          width: 50%;

          .contact-form__description {
            max-width: 445px;
          }
        }

        .form {
          width: 50%;
        }
      }
      .contact-form__rings {
        bottom: 47px;
        left: -360px;
      }
    }
  }
}
