// #root {
//   max-width: 69.375rem;
//   margin: 0 auto;
// }

.container {
  max-width: 69.375rem;
  margin: 0 auto;
}

.visually-hidden {
  position: absolute;
  left: -10000px;
  top: auto;
  width: 1px;
  height: 1px;
  overflow: hidden;
}